# Reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# These owners are the default owners for everything in the repo.
# Unless a later match takes precedence, they are requested for review
# when someone opens a pull request.
*       @bhdicaire @felleg

# Maintainers own documentation changes too.
/docs/ @bhdicaire @felleg
